<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{{meta_title}}</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
	<meta name="description" content="{{meta_description}}">
	<meta name="theme-color" content="rgb({{meta_colour_main}})">
	<meta name="heycafe:title" content="{{meta_title}}">
	<meta name="heycafe:description" content="{{meta_description}}">
	<meta name="heycafe:image" content="{{meta_image}}">
	<meta name="heycafe:logo" content="{{meta_icon}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{meta_title}}">
	<meta property="og:description" content="{{meta_description}}">
	<meta property="og:image" content="{{meta_image}}">
	<meta property="og:logo" content="{{meta_icon}}">
	<link rel="icon" type="image/png" href="{{meta_icon}}">
	<link rel="apple-touch-icon" href="{{meta_icon}}">
	<link rel="apple-touch-startup-image" href="{{meta_icon}}">
	<style>
		html, body {
			background: none;
		}
		
		body{
			background:rgb(242,242,242);
			color: rgb(0,0,0);
			margin:0px;
			padding:0px;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			line-height: 1.3;
			-webkit-font-smoothing: antialiased;
			-webkit-text-size-adjust: 100%;
			font-size: 100%;
			text-rendering: optimizeLegibility;
			height:100%;
			
			--coreColor: rgb({{meta_colour_core}});
			--mainColor: rgb({{meta_colour_main}});
			--mainColorTransparent: rgba({{meta_colour_main}},0.3);
			--mainColorText: rgb({{meta_colour_main_text}});
			--mainColorTextTransparent: rgba({{meta_colour_main_text}},0.3);
			--greyShade0: rgb(255, 255, 255);
			--greyShade1: rgb(242, 242, 242);
			--greyShade2: rgb(232, 233, 233);
			--greyShade3: rgb(209, 211, 212);
			--greyShade4: rgb(186, 189, 191);
			--greyShade5: rgb(128, 132, 136);
			--greyShade6: rgb(102, 106, 109);
			--greyShade7: rgb(77, 80, 82);
			--greyShade8: rgb(33, 33, 34);
		}
		
		hr{
			margin-top: 15px !important;
			margin-bottom: 15px !important;
			border: 0px;
			border-top: 1px solid var(--greyShade2);
		}
		
		h1 {
			color: var(--greyShade8);
			display: block;
			font-weight: 300;
			font-size: 1.7em;
			margin-top: 50px;
			margin-bottom: 10px;
			text-align:center;
		}
		
		p{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		a, a bubble {
			color: var(--coreColor);
			transition: transform .2s;
			font-weight: 600;
			text-decoration: none;
		}
		
		a *{
			transition: transform .2s;
		}
		
		a:hover, a:hover bubble, bubble .button:hover {
			opacity:0.9;
			transform: scale(1.05);
		}
		
		.sign_in_with_hey .case{
			border: 1px solid rgb(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
			border-radius: 15px;
			transition: transform .2s;
		}
		
		.sign_in_with_hey .case:hover{
			opacity:0.9;
			transform: scale(1.05);
		}
		
		.sign_in_with_email .case{
			border: 1px solid rgb(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
			border-radius: 15px;
			transition: transform .2s;
		}
		
		.sign_in_with_email .case:hover{
			opacity:0.9;
			transform: scale(1.05);
		}
		
		.media_backing{
			background-size: cover;
			background-repeat: no-repeat;
			background-color: var(--greyShade1);
			background-position: center center;
			border-radius: 7.5px;
		}
		
		.media_bg{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			border-radius: 7.5px;
		}
		
		.aspectcase{
			width: 100%;
			position: relative;
		}
		.aspectcase.onebyone{
			padding-bottom: calc(100% / (1/1));
		}
		.aspectcase.fortybyeight{
			padding-bottom: calc(100% / (40/8));
		}
		.aspectcase.thirtybyeight{
			padding-bottom: calc(100% / (30/8));
		}
		.aspectcase.twentyonebynine{
			padding-bottom: calc(100% / (21/9));
		}
		.aspectcase.sixteenbynine{
			padding-bottom: calc(100% / (16/9));
		}
		.aspectcase.fourbythree{
			padding-bottom: calc(100% / (4/3));
		}
		.aspectcase.threebytwo{
			padding-bottom: calc(100% / (3/2));
		}
		.aspectcase.eightbyfive{
			padding-bottom: calc(100% / (8/5));
		}
		.aspectcase .content{
			padding:0px !important;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		
		.embed{
			background:var(--mainColorTransparent);
			padding:10px;
			border-radius: 7.5px;
			overflow:hidden;
		}
		
		.embed .preview{
			float:left;
			max-width:150px;
			min-width:150px;
			margin-right:10px;
		}
		
		.embed .preview .media_backing{
			border-radius: 4.5px;
		}
		
		.embed p{
			margin-top:5px;
			margin-bottom:5px;
		}
		
		.wrapper{
			padding:10px;	
			padding-top: 10px;
			margin: 0px auto;
			text-align: center;
			max-width: 950px;
			min-height:calc(100vh - 20px);
		}
		
		@media only screen and (max-width: 460px){
			.wrapper{
				padding:0px;
				padding-left:3px;
				padding-right:3px;
			}
		}
		
		.header{
			background:var(--mainColor);
			color:var(--mainColorText);
			padding:0px;
			padding-left:0px;
			padding-right:0px;
			border-radius: 100px;
			text-align: left;
			border: 1px solid rgba(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		@media only screen and (max-width: 460px){
			.header{
				border-radius: 0px;
				border-top: 0px;
				border-left: 0px;
				border-right: 0px;
				font-size:0.8em;
				margin-left:-3px;
				margin-right:-3px;
			}
		}
		
		.header:empty{
			display:none;
		}
		
		.header .avatar{
			width:45px;
			height:45px;
			border-radius:100%;
			float:right;
			margin-left:5px;
			transition: transform .2s;
		}
		
		.header .logo{
			width:45px;
			height:45px;
			border-radius:100%;
			float:left;
			margin-left: -1px;
			margin-top: -1px;
			transition: transform .2s;
			border: 1px solid rgb(0,0,0,0);
		}
		
		.header .logo:hover{
			transform:rotate(8deg) scale(1.3);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
			border: 1px solid rgba(0,0,0,0.2);
		}
		
		.header .nav{
			text-align: left;
			margin-top: 0px;
			line-height: 30px;
			height: 31px;
			padding-top: 7px;
			padding-bottom: 7px;
			padding-left:10px;
			padding-right:10px;
			overflow: hidden;
			overflow-x: auto;
			white-space: nowrap;
			display: flex;
		}
		
		.header .nav .rightfloat{
			display:inline-block;
			float:right;
		}
		
		@media only screen and (max-width: 560px){
			.header .nav .rightfloat{
				display:inline-block;
				float:none;
			}
		}
		
		.header .nav a{
			background: rgba(255,255,255,0);
			display: inline-block;
			border-radius: 15px;
			padding-left: 15px;
			padding-right: 15px;
			margin-left:0px;
			margin-right:0px;
			color: var(--mainColorText);
			vertical-align: middle;
			line-height: 30px;
		}
		
		.header .nav a.rightbreak{
			margin-left: auto;
			margin-right: 10px;
		}
		
		.header .nav a.rightspace{
			margin-right: 10px;
		}
		
		.header .nav a.norightspace{
			margin-right: 0px;
		}
		
		.header .nav a.important{
			background: rgba(255,255,255,1);
			color:rgb(0,0,0);
		}
		
		.header .nav a:hover{
			background: rgba(255,255,255,0.2);
		}
		
		.header .nav a.important:hover{
			background: rgba(255,255,255,0.95);
		}
		
		.menu:not(:empty){
			padding: 5px;
			line-height: 27px;
			margin-left: 35px;
			margin-right: 35px;
			margin-top: 10px;
			border-radius: 25px;
			text-align: left;
			overflow: hidden;
			overflow-x: auto;
			white-space: nowrap;
		}
		
		@media only screen and (max-width: 460px){
			.menu:not(:empty){
				margin-left:0px;
				margin-right:0px;
				text-align: center;
			}
		}
		
		.menu a{
			background: var(--greyShade0);
			display: inline-block;
			border-radius: 15px;
			padding-left: 15px;
			padding-right: 15px;
			margin-left: 2px;
			margin-right: 2px;
			color: rgb(0,0,0);
			border: 1px solid var(--mainColor);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		.menu a:hover{
			background: var(--greyShade1);
		}
		
		.floatbox {
			text-align: left;
			position: relative;
			padding-bottom: 15px;
			max-width: 800px;
			margin: 0px auto;
		}
		
		.footer {
			color: rgb(85, 85, 85);
			text-align: center;
			font-weight: 600;
			margin-top: 80px;
			font-size:14px;
		}
		
		bubble{
			display:block;
			background:var(--greyShade0);
			border: 1px solid rgba(0,0,0,0.2);
			text-align: left;
			padding: 15px;
			border-radius: 15px;
			margin-top:15px;
			overflow-wrap: break-word;
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		@media only screen and (max-width: 460px){
			bubble{
				padding: 10px;
			}
		}
		
		bubble.microtext{
			font-size: 0.7em;
			font-weight: 600;
		}
		
		bubble bubble{
			display:block;
			background:var(--greyShade1);
			text-align: left;
			padding: 10px;
			border-radius: 15px;
			margin-top:10px;
			overflow: hidden;
			border: 1px solid rgb(0,0,0,0.1);
			box-shadow: rgba(50, 50, 50, 0.0) 0px 2px 4px 1px;
		}
		
		bubble a bubble{
			color: rgb(22, 22, 22);
			font-weight: 400;
			border: 1px solid rgb(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		bubble.dot::before{
			content: "";
			width: 5px;
			height: 5px;
			display: block;
			position: absolute;
			border-radius: 100%;
			margin-right: 5px;
			background: var(--mainColor);
		}
		
		bubble a bubble bubble{
			border: 0px solid rgb(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0) 0px 2px 4px 1px;
		}
		
		.grid_case{
			margin-top:15px;
			display: grid;
			gap: 15px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		
		@media only screen and (max-width: 460px){
			.grid_case{
				gap: 10px;
			}
		}
		
		.grid_case.quad{
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		
		.grid_case.tri{
			grid-template-columns: 1fr 1fr 1fr;
		}
		
		.grid_case.dual{
			grid-template-columns: 1fr 1fr;
		}
		
		.grid_case.dual.lightleft{
			grid-template-columns: 0.75fr 1fr;
		}
		
		.grid_case.dual.lightright{
			grid-template-columns: 1fr 0.75fr;
		}
		
		.grid_case bubble{
			text-align:center;
			margin:0px;
		}
		
		.grid_case bubble .icon{
			font-size:2em;
			margin-bottom:5px;
		}
		
		bubble.grid .inside{
			display: inline-grid;
		}
		
		@media only screen and (max-width: 460px){
			.grid_case.quad{
				grid-template-columns: 1fr 1fr;
			}
			
			.grid_case.tri{
				grid-template-columns: 1fr;
			}
			
			.grid_case.dual{
				grid-template-columns: 1fr;
			}
			
			.grid_case.dual.lightleft{
				grid-template-columns: 1fr;
			}
			
			.grid_case.dual.lightright{
				grid-template-columns: 1fr;
			}
		}
		
		bubble .button{
			background: none;
			display: inline-block;
			border-radius: 15px;
			padding:5px;
			padding-left: 15px;
			padding-right: 15px;
			color: rgb(22,22,22);
			background:var(--greyShade0);
			border: 1px solid var(--mainColor);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		bubble .button.small{
			padding:3px;
			padding-left: 10px;
			padding-right: 10px;
			font-size:0.9em;
		}
		
		bubble bubble .button{
			background: none;
			display: inline-block;
			border-radius: 15px;
			padding:3px;
			padding-left: 10px;
			padding-right: 10px;
			color: rgb(22,22,22);
			background:var(--greyShade0);
			border: 1px solid var(--mainColor);
		}
		
		bubble .button:hover{
			background:var(--greyShade1);
		}
		
		bubble bubble .button:hover{
			background:var(--greyShade2);
		}
		
		bubble.warning, .message_warning{
			background: rgba(243,199,116,0.50);
			border:1px solid rgb(243,199,116);
			text-align:center;
		}
		
		bubble.good, .message_good{
			background: rgba(108,177,138,0.50);
			border:1px solid rgb(108,177,138);
			text-align:center;
		}
		
		bubble.error, .message_error{
			background: rgba(216,106,90,0.50);
			border:1px solid rgb(216,106,90);
			text-align:center;
		}
		
		bubble.left.warning, bubble.left.good, bubble.left.error{
			text-align:left;
		}
		
		heading{
			display: block;
			font-weight: 600;
			font-size: 1.7em;
			margin-top: 25px;
			margin-bottom: 10px;
			text-align:center;
		}
		
		subheading{
			display: block;
			font-size: 1.4em;
			margin-top: 10px;
			margin-bottom: 10px;
			font-weight: 500;
		}
		
		bubble > :first-child {
			margin-top: 0px !important;
		}
		
		bubble > :first-child subheading{
			margin-top:0px;
		}
		
		bubble > :first-child heading{
			margin-top:0px;
		}
		
		bubble > :last-child {
			margin-bottom: 0px !important;
		}
		
		bubble p:empty {
			margin:0px !important;
		}
		
		table{
			width:100%;
		}
		
		th{
			text-align:left;
			border-bottom: 5px solid #ffffff;
			background: #f2f2f2;
		}
		
		pre{
			background:var(--greyShade1);
			border-radius:13px;
			color: var(--greyShade8);
			padding:8px;
			padding-left:15px;
			padding-right:15px;
			margin-top:10px;
			margin-bottom:10px;
			overflow: auto;
		}
		
		pre code{
			color: var(--greyShade8);
		}
		
		h2, h3{
			font-weight: 300;
		}
		
		.inline-button, input, select, button, textarea, .toggle{
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}
		
		label{
			display: block;
			max-width: 300px;
			margin: 0px auto;
			text-align: left;
			margin-top: 10px;
		}
		
		.contact label{
			max-width: 100%;
		}
		
		.profile_background .aspectcase{
			background-size: cover;
		}
		
		textarea {
			background: #ffffff;
			border: 1px solid var(--mainColor);
			border-radius: 13px;
			color: #5a5656;
			font-family: inherit;
			font-size: 1em;
			outline: none;
			overflow: hidden;
			padding: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 100%;
			max-width: 300px;
			margin-top: 5px;
			margin-bottom: 5px;
			-webkit-appearance: none;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			resize: none;
		}
		
		.contact textarea{
			max-width: 100%;
		}
		
		textarea.fullwidth{
			max-width: 100%;
		}
		
		textarea:hover, textarea:focus {
			box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
			-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
			-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
			font-weight: 500;
		}
		
		input,
		input[type="text"],
		input[type="password"] {
			background: #ffffff;
			border: 1px solid var(--mainColor);
			border-radius: 13px;
			color:#414141;
			font-family: inherit;
			font-size: 1em;
			outline: none;
			padding: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			max-width: 300px;
			width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
			-webkit-appearance: none;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		
		.contact input{
			max-width: 100%;
		}
		
		input:focus,
		input:hover,
		input[type="text"]:focus,
		input[type="text"]:hover,
		input[type="password"]:focus
		input[type="password"]:hover {
			outline: none;
			border-color: var(--mainColor);
			font-weight: 500;
		}
		
		input[type=file]{
			cursor: pointer;
			display: inline-block;
			padding: 40px;
			max-width: calc(100% - 84px);
			color: rgba(0, 0, 0, 0);
			border: 1px dashed var(--mainColor);
		}
		input[type=file]::file-selector-button{
			display:none;
		}
		input[type="file"]::before {
			content: "Tap to select file or drop here";
			color: rgb(0, 0, 0);
		}
		
		button,
		input[type="button"],
		input[type="submit"] {
			background-color: var(--mainColor);
			border-radius: 13px;
			border:none;
			color: #ffffff;
			cursor: pointer;
			font-family: inherit;
			font-weight: 600;
			text-transform: uppercase;
			outline: none;
			padding: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 100%;
			max-width: 300px;
			margin-top: 5px;
			margin-bottom: 5px;
			-webkit-appearance: none;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			transition: transform .2s;
			border: 1px solid rgb(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		button:hover,
		input[type="button"]:hover,
		input[type="submit"]:hover {
			background-color: var(--mainColor);
			opacity:0.9;
			transform: scale(1.05);
		}
		
		select {
			-webkit-appearance: initial;
			-moz-appearance: initial;
			background: #ffffff;
			border: 1px solid var(--mainColor);
			border-radius: 13px;
			color:#414141;
			font-family: inherit;
			font-size: 1em;
			outline: none;
			padding: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			max-width: 300px;
			width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		select:focus,
		select:hover {
			outline: none;
			border-color: var(--mainColor);
			font-weight: 500;
		}
		
		.contact select{
			max-width: 100%;
		}
		
		[placeholder]::-webkit-input-placeholder {
			color: rgb(186, 189, 191);
			font-weight:500;
			font-size: 1em;
		}
		
		[placeholder]:focus::-webkit-input-placeholder {
			transform: translate(300px, 0);
			opacity: 0;
		}
		
		.loading{
			margin: 0px auto;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 40px;height: 40px;
			box-sizing: border-box;
			border: solid 4px var(--mainColorTransparent);
			border-left-color: var(--mainColor);
			border-radius: 50%;
			animation: animation-loading 600ms linear infinite;
		}
		
		.fitloading{
			margin:5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			box-sizing: border-box;
			border: solid 4px var(--mainColorTransparent);
			border-left-color: var(--mainColor);
			border-radius: 50%;
			animation: animation-loading 600ms linear infinite;
		}
		
		.loading_progress_case{
			border-radius:13px;
			width:250px;
			background:var(--greyShade1);
			margin:0px auto;
			margin-top:15px;
		}
		
		.loading_progress_inside{
			border-radius:13px;
			height:8px;
			background:var(--mainColor);
		}
		
		@keyframes animation-loading{
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
		
		@media (prefers-color-scheme: dark){
			body{
				color:rgb(255,255,255);
				background: rgb(70, 70, 70);
			}
			
			bubble {
				background: rgba(23, 23, 23, 0.35);
			}
			a bubble{
				color: rgb(255, 255, 255);
				font-weight: 400;
			}
			bubble a bubble{
				color: rgb(255, 255, 255);
			}
			.svgicon {
				filter: invert(1);
			}
			
			hr{
				border-top:1px solid var(--greyShade8);
			}
			
			bubble bubble{
				display:block;
				background:var(--greyShade7);
				border: 1px solid rgb(0,0,0,0.2);
			}
			
			bubble .button{
				color: rgb(255, 255, 255);
				background:var(--greyShade8);
			}
			
			bubble .button:hover{
				background:var(--greyShade8);
			}
			
			.footer {
				color: rgb(205, 205, 205);
			}
			h1 {
				color: color: var(--greyShade2);
			}
			a {
				color: rgb(165, 203, 248);
			}
			pre{
				background:var(--greyShade8);
			}
			pre code{
				color: var(--greyShade2);
			}
		}
		
		#uiAlert{
			position:fixed;
			z-index:750000;
			width:100%;
			height:0px;
			text-align:center;
			top:0px;
			left:0px;
			-webkit-transition: all 250ms ease-in-out;
			-moz-transition: all 250ms ease-in-out;
			-o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
		}
		
		#uiAlert .notification{
			position:relative;
			cursor: pointer;
			display:inline-block;
			overflow:hidden;
			background:rgba(22,22,22,0.8);
			-webkit-backdrop-filter: blur(10px) saturate(200%)!important;
			-moz-backdrop-filter: blur(10px) saturate(200%)!important;
			backdrop-filter: blur(10px) saturate(200%)!important;
			color:#ffffff;
			font-weight:600;
			border-radius:20px;
			padding:20px;
			padding-top:10px;
			padding-bottom:10px;
			margin-top:65px;
			margin-right:5px;
			margin-left:5px;
			-webkit-transition: all 350ms ease-in-out;
			-moz-transition: all 350ms ease-in-out;
			-o-transition: all 350ms ease-in-out;
			transition: all 350ms ease-in-out;
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		#uiAlert .notification.show{
			top: calc(0px + env(safe-area-inset-top));
		}
		
		#uiAlert .notification.hide{
			top: -200px;
		}
		
		#main_about_link{
			font-size: 0.95em;
			font-weight: 800;
			border: 1px solid rgb(0,0,0,0.2);
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
		}
		
		#uiBackground{
			background: linear-gradient(to top, rgba(0,0,0,0), var(--coreColor));
			opacity: 0.4;
			position: absolute;
			z-index: -5;
			left: 0px;
			top: 0px;
			height: 520px;
			width: 100%;
		}
	</style>
	{{content_head}}
</head>
<body>
	<div id='uiAlert'></div>
	<div id='uiLoading'></div>
	<div id='uiBackground'></div>
	<div id='js_copy_content'>
		<div class='wrapper'>
			<div class='header' id='js_wrap_header'>{{content_header}}</div>
			<div class='menu' id='js_wrap_menu'>{{content_menu}}</div>
			<div class='floatbox' id='js_wrap_floatbox'>{{content_body}}</div>
			<div class='footer' id='js_wrap_footer'>{{content_footer}}</div>
		</div>
		{{content_extra}}
		<action type='set_title' title='{{meta_title}}'></action>
	</div>
	{{content_script}}
</body>
</html>